<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Icon -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- CSS -->
        <link rel="stylesheet" href="/CSS/style.css">

        {% block head %}
            <title>Launchstore</title>
        {% endblock head %}
    </head>
    <body>
        {% include "parts/header.njk" %}

        {% block content %}{% endblock content %}

        {% include "parts/footer.njk" %}
        
    </body>
</html>