<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Icon -->
        <link rel="shortcut icon" href="/assets/favicon.ico.png" type="image/x-icon">
        <!-- Fonte -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <!-- CSS -->
        <link rel="stylesheet" href="/CSS/style.css">

        {% block head %}
            <title>Desafios LaunchBase - Sobre</title>
        {% endblock %}
    </head>
    <body>
        <!-- Menu -->
        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
                <a href="mailto:oi@rocketseat.com.br">Email</a>
                <a href="tel:+5547992078767">Telefone</a>
                <a href="/contents">Conteúdos</a>
            </div>
        </header>

        {% block content %}{% endblock %}

    </body>
</html>