{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/CSS/error.css">
    <title>Desafios LaunchBase - Nenhum conteúdo encontrado</title>
{% endblock %}

{% block content %}
    <div class="error404">
        <h1>Não foi possível atender sua requisição! Erro 404</h1>
    </div>
{% endblock %}